/**************************
Styles for Portfolio Site
Author - Chisom Trisha Okoye
Version 1.0 - Date - 21-11-2019
***************************/

/*  Global Styles   */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
  font-size: 16px;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Artifika", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2em;
}

ul,
li {
  padding: 0;
  margin: 0;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #404040;
}

a:hover {
  color: #e96656;
}

li {
  list-style: none;
}

/* Top Menu/Navigation Styles */
.navbar {
  min-height: 30px;
  padding: 10px;
  letter-spacing: 0.05em;
  box-shadow: 0 0 30px #222;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
  font-weight: 400;
}

.navbar-brand {
  font-family: "Artifika", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #222;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #e96656;
  background-color: #fff;
}

.navbar-default a {
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #e96656;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #e96656;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #222;
}

/*  *********************************************************************************/
/* Header Styles */

#content {
  text-align: center;
  padding-top: 15%;
}

header {
  background: url("../images/workspaceBb.jpg") no-repeat top center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 25px 0;
  line-height: 1.5;
}

header .profile-image {
  width: 150px;
  margin: 50px 0;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}

header .profile-image {
  width: 150px;
  margin: 50px 0;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}

header .profile-image:hover {
  transform: scale(1.5) rotate(360deg);
}

.tag {
  background-color: #efefef;
  opacity: 0.85;
  color: #111;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.profile-image,
.tag {
  box-shadow: 0 0 30px #222;
}

.location {
  background-color: #e96656;
  color: #fff;
  margin-bottom: 50px;
}
